.gradle/
build/
out/
uploads/

*.log

.idea/
*.iml
.vscode/
bin/
tmp/

*.tsbuildinfo
token.txt
jaas
.flow-email.tmp
/GmarketSansTTFBold.ttf
/GmarketSansTTFLight.ttf
/GmarketSansTTFMedium.ttf
/haru_logo.png

.env
.env.*
!*.example
